body {
	font-family: 'Gamja Flower', cursive;
	background: #000046;
}

h1 {
	background: steelblue;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

input {
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: steelblue;
	font-family: 'Gamja Flower', cursive;
	border: 3px solid rgba(0,0,0,0);
}

input:focus {
	background: white;
	border: 3px solid steelblue;
	outline: none;
}

li:hover .remove {
	width: 40px;
	opacity: 1.0;
}

#container {
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	width: 400px;
	margin: 100px auto;
	background: #f7f7f7;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.remove {
	background: red;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

